<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--
      ĐỔI connectionString phù hợp với máy của bạn:
      - Server=.\SQLEXPRESS  nếu dùng SQL Server Express
      - Server=(localdb)\MSSQLLocalDB  nếu dùng LocalDB
      - Integrated Security=True  nếu Windows Auth (không cần user/pass)
    -->
    <add name="QuanLyChoThueNhaContext"
         connectionString="Server=.\VANQUANG;Database=QuanLyChoThueNha;Integrated Security=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </providers>
  </entityFramework>
</configuration>
